@font-face {font-family: "iconfont";
  src: url('fonts/iconfont.eot?t=1524894158375'); /* IE9*/
  src: url('fonts/iconfont.eot?t=1524894158375#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/iconfont.woff?t=1524894158375') format('woff'),
  url('fonts/iconfont.ttf?t=1524894158375') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('fonts/iconfont.svg?t=1524894158375#iconfont') format('svg'); /* iOS 4.1- */
}
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1570600650996'); /* IE9 */
  src: url('iconfont.eot?t=1570600650996#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALMAAsAAAAABywAAAJ9AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqCEIIAATYCJAMMCwgABCAFhG0HPBtMBhHVkx9kXxbwhmLq9xAULRU61tB23IPb+UR49LuqDtUteR7Ew39rr/ftzN8guFQBqp5KBBAK0VVYICETXWCwtT8AYAMOU5oy2nGHUw7sIXNUtFsFjnDY6tTCKQQZoD5Y8Y5fnuOc58r13sHl9FtAgcyzLLA3CnCOYZvWwDigQPfAp8jKooC8YewCl/CYQL1+hotJU2YtUiuzVgVi1/at69Xm/LLMUrVCWXMwi4sqaotTxV0uhJ+PPyOilkIlsTbO2zJ5k3Hf+146WD24ykcECPB4BQnDkYk1tfFlkmDkpF6e23NLWSjmClWrIV9Xljv94xVEySpuBINhouA7LpPgexgUIIES9ViGdZDU6c3KVkzI39vaePqy4uCVhqYz1yIduroij9aEtqx8Z5qXNKiHpUuhNEG2vWtv0TKu+YPa06PGLRY9td9n7T9wDcQJORluKXgeB7JU+5JdPg7SheL5j/+N/9lrG/Xahgxefel26K/2Zf2VtbflCH6zoGdT1kWWIWWV7/LNVDJO+RI69bpLleVu9368sqt3lFCbEzAo1OiBpFZ/XCYNh4oGI6FUayzUG2bq8QYdDkgi12GoYwBCq1tQaNYLSat7uEx6BxXd/kGpNRLUWxIdFzYYqEaVjFrQgflDstS9YxIVld4wvKvmrCikvJDPFIJlnIupK3bkObacn7CKePBMDXbwHNZKcDBltDJGkWObJl/3otFSGxQZtaAD5g+Spe79yaJK779heFfNLQ011hfymWYHi9HcA3eV914N94Ll/ISViAeeqYEdzMNaCRz18zJaGcUR0WMz2e18X/m4vrJ93ymoZx1PUUSKjF0JTdJ0CW3LMAAAAAA=') format('woff2'),
  url('iconfont.woff?t=1570600650996') format('woff'),
  url('iconfont.ttf?t=1570600650996') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1570600650996#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liebiao:before {
  content: "\e62a";
}

.icon-liebiao1:before {
  content: "\e684";
}

.icon-home:before { content: "\e626"; }

.icon-user:before { content: "\ec52"; }

.icon-indent:before { content: "\e62b"; }

.icon-outdent:before { content: "\e62c"; }

.icon-caret-down:before { content: "\e631"; }
